<h1> Application form</h1>
<form>
    <input type = "hidden" name = "authenticity_token" value = <%=authenticity_token %>>
    <input type = "text" name = "user[first_name]" placeholder = "First_name">
    <input type = "text" name = "last_name" placeholder = "Last_name">
    <input type = "email" name = "email_id" placeholder = "EmailId">
    <input type = "number" name = "phone_number" placeholder = "Phone_number">
    <input type = "submit" name = "submit" placeholder = "Submit">
</form>